html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.trapezoid {
    border-bottom: 65px solid #555;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 110px;
}

.rotatable {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40px;
    rotate: 210deg;
}

.circle {
    height: 125px;
    width: 125px;
    background-color: #bbb;
    border-radius: 50%;
    position: relative;
}

.small-trapezoid {
    border-bottom: 15px solid #bfc842;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    height: 0;
    width: 10px;
    position: absolute;
    top: -14px;
}

.circular-slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
    z-index: 2;
    pointer-events: none; /* Slider selbst blockiert keine Interaktionen */
}

.track {
    fill: none;
    stroke: #ddd;
    stroke-width: 10;
    stroke-linecap: round;
    pointer-events: none; /* Track bleibt passiv */
}

.thumb {
    fill: #555;
    pointer-events: all; /* Thumb kann Events empfangen */
    cursor: grab;
    stroke: #fff;
    stroke-width: 2;
}
